@{
    ViewBag.Title = "主页";
}

@section HeadStyle{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
}

<div id="container">
<div class="line-1 dot-bot-line">
    	<dl class="line1-dl">
            <dt><a class="line1-dl-tit" href="#">家庭装饰</a><a class="line1-dl-frame" href="#">Frame it</a></dt>
            <dd><img src="res/01.jpg" width="450" height="314" /></dd>
        </dl>
        <dl class="line1-dl">
            <dt><a class="line1-dl-tit" href="#">酒店、写字楼</a><a class="line1-dl-frame" href="#">Frame it</a></dt>
            <dd><img src="res/02.jpg" width="450" height="314" /></dd>
        </dl>
        <div class="cl"></div>
    </div>
    <div class="cl"></div>
	<div class="line-box mt10">
    	<div class="line-box-tit"><span></span><a href="#">自由换画框</a></div>
        <div class="line-box-con h330 tc">
     		<img src="images/index/frame-step.jpg" width="912" height="316" alt="自由换画框" />
        </div>
        <div class="cl"></div>
    </div>
    <div class="cl"></div>
<div class="line-box mt10">
    	<div class="line-box-tit"><span></span><a href="#">壁彩九天</a></div>
        <div class="line-box-con tc">
          <div class="eg-item">
            <a class="img" href="#">
                <img src="images/index/paint01.jpg" width="300" height="220" /> 
            </a>
            <div class="fl w460">
                <dl>
                    <dt><img src="images/index/icon01.jpg" width="21" height="21" /></dt>
                    <dd>
                   <p> <span style=" color:red;">北京壁</span><span style="color:#fecc35;">彩</span><span style="color:green;">九天</span>文化发展公司，2005年建立，目前国内颇具声誉的、以国际博物馆复制技术为基础就馆藏传统书画、陶瓷进行高仿，近年来进军家居配饰市场。</p>
                    </dd>
                    <div class="cl"></div>
                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                    <p><span style=" color:red;">北京壁</span><span style="color:#fecc35;">彩</span><span style="color:green;">九天</span>文化发展公司，2005年建立，目前国内颇具声誉的、以国际博物馆复制技术为基础就馆藏传统书画、陶瓷进行高仿，近年来进军家居配饰市场。</p>
                    </dd>
                    <div class="cl"></div>
                </dl>
            </div>
          </div>
          <div class="cl"></div>
          <div class="eg-item">
            <a class="img" href="#">
                <img src="images/index/paint02.jpg" width="300" height="220" /> 
            </a>
            <div class="fl w460">
                <dl>
                    <dt><img src="images/index/icon02.jpg" width="21" height="21" /></dt>
                    <dd>
                   <p> <span style=" color:red;">北京壁</span><span style="color:#fecc35;">彩</span><span style="color:green;">九天</span>文化发展公司，2005年建立，目前国内颇具声誉的、以国际博物馆复制技术为基础就馆藏传统书画、陶瓷进行高仿，近年来进军家居配饰市场。</p>
                    </dd>
                    <div class="cl"></div>
                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                    <p><span style=" color:red;">北京壁</span><span style="color:#fecc35;">彩</span><span style="color:green;">九天</span>文化发展公司，2005年建立，目前国内颇具声誉的、以国际博物馆复制技术为基础就馆藏传统书画、陶瓷进行高仿，近年来进军家居配饰市场。</p>
                    </dd>
                    <div class="cl"></div>
                </dl>
            </div>
          </div>
          <div class="cl"></div>
          <div class="eg-item">
            <a class="img" href="#">
                <img src="images/index/paint03.jpg" width="300" height="220" /> 
            </a>
            <div class="fl w460">
                <dl>
                    <dt><img src="images/index/icon03.jpg" width="21" height="21" /></dt>
                    <dd>
                   <p> <span style=" color:red;">北京壁</span><span style="color:#fecc35;">彩</span><span style="color:green;">九天</span>文化发展公司，2005年建立，目前国内颇具声誉的、以国际博物馆复制技术为基础就馆藏传统书画、陶瓷进行高仿，近年来进军家居配饰市场。</p>
                    </dd>
                    <div class="cl"></div>
                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                    <p><span style=" color:red;">北京壁</span><span style="color:#fecc35;">彩</span><span style="color:green;">九天</span>文化发展公司，2005年建立，目前国内颇具声誉的、以国际博物馆复制技术为基础就馆藏传统书画、陶瓷进行高仿，近年来进军家居配饰市场。</p>
                    </dd>
                    <div class="cl"></div>
                </dl>
            </div>
          </div>
          <div class="cl"></div>
        </div>
</div>